{% extends "index.html.twig" %}

{% block title %}{{ parent() }} | {{ 'Контакты'|trans }}{% endblock %}
{% block description %}{{ parent() }} | {{ 'Контакты'|trans }}{% endblock %}

{% block body %}
    <section id="text-1col">
        <div class="container">
            <div class="row">
                <h2 class="title text-center">{{ contacts_block.title}}</h2>
                <div class="contacts-block">
                    {{ contacts_block.content|raw }}
                </div>
            </div>
        </div>
    </section>


{% endblock %}