{% extends "index.html.twig" %}
{% block title %}{{ parent() }} | {{ page.title }}{% endblock %}
{% block description %}{{ parent() }} | {{ page.title }}{% endblock %}

{% block body %}
    <section id="text-1col">
        <div class="container">
            <div class="row">
                <h2 class="title text-center">{{ page.title }}</h2>
                {{ page.content|raw }}
            </div>
        </div>
    </section>
{% endblock %}