{% extends "index.html.twig" %}

{% block body %}
    <section id="blog-3col">
        <div class="container">
            <h2 class="title text-center">{{ 'Книги'|trans }}</h2>

            <div class="row flex-wrap">
                {% for project in projects_books %}
                    <div class="col-12 col-md-6">
                        <div class="post">
                            <div class="post-content">
                                {% if  project.getMainImage() %}
                                    <img src="{{ project.getMainImage() }}" class="w-100">
                                {% endif %}
                            </div>
                            <div class="post-content">
                                <h4 class="title">Цена: {{ project.price }} ₽</h4>
                               <div>
                                   <div style="display: none;" id="hidden-content-{{ project.id }}" class="modal-window">
                                       <h2>Введите Ваш Email:</h2>
                                       <input type="email" id="email{{ project.id }}" class="email-input"/><br/>
                                       <button onclick="processPayment({{ project.id }})" class="modal-window-button">
                                            Оплатить
                                        </button>
                                   </div>
                                    <a href="{{ project.getShortBookRu() }}" class="btn btn-lg btn-block btn-primary mb-20">
                                        Читать содержание и введение
                                    </a>
                                    <a data-fancybox data-src="#hidden-content-{{ project.id }}" href="javascript:;" class="btn btn-lg btn-block btn-primary mb-20">
                                        Получить полный текст и поддержать проект
                                    </a>
                               </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script type="text/javascript">
        function processPayment(projectId) {
            $.post('/projects/payment', {projectId: projectId, email: $('#email' + projectId).val()}, function(response) {
                window.location.href = response.link;
            });
        }
    </script>
{% endblock %}