{% extends "index.html.twig" %}

{% block title %}{{ parent() }} | {{ 'Книги и статьи'|trans }}{% endblock %}
{% block description %}{{ parent() }} | {{ 'Книги и статьи'|trans }}{% endblock %}

{% block body %}
    <section id="blog-3col">
        <div class="container">
            <h2 class="title text-center">{{ 'Книги и статьи'|trans }}</h2>

            <div class="row flex-wrap">
                {% for project in projects_books %}
                    <div class="col-12 col-md-6">
                        <div class="post">
                            {% if app.request.locale != 'en' %}
                                <div class="post-content">
                                    {% if  project.getMainImage() %}
                                        <img src="{{ project.getMainImage() }}" class="w-100">
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="post-content">
                                <h4 class="title">{{ project.getShortDescription()|raw }}</h4>
                                <div>
                                    {% if app.request.locale == 'ru' %}
                                        <a
                                        href="{{ project.getLink() }}"
                                        class="btn btn-lg btn-block btn-primary mb-20"
                                        id="ru_{{ project.getId() }}">
                                            {{ 'Скачать'|trans }}
                                        </a>
                                    {% else %}
                                        <a
                                        href="{{ '/en' ~ project.getLink() }}"
                                        class="btn btn-lg btn-block btn-primary mb-20"
                                        id="en_{{ project.getId() }}">
                                            {{ 'Скачать'|trans }}
                                        </a>
                                    {% endif %}
                               </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script type="text/javascript">
        function processPayment(projectId) {
            $.post('/projects/payment', {projectId: projectId, email: $('#email' + projectId).val()}, function(response) {
                window.location.href = response.link;
            });
        }
    </script>
{% endblock %}
