{% extends "index.html.twig" %}

{% block body %}
    <section id="blog-3col">
        <div class="container">
            <h2 class="title text-center">{{ 'Книги'|trans }}</h2>

            <div class="row">
                {% for project in projects_books %}
                    <div class="col-sm-6">
                        <div class="post">
                            {% if  project.getMainImage() %}
                            {% endif %}
                            <div class="post-content">
                                <h4 class="title"><a href="{{ path( 'project', {slug: project.url}) }}">{{ project.getShortTitle() }}</a></h4>
                                <div class="post-desc" style="min-height: 80px;">{{ project.getShortDescription()|slice(0,300)|raw }}</div>
                            </div>
                            <div class="post-content">
                                <h4 class="title">Цена: {{ project.price }} р.</h4>
                               <div>
                                   <div style="display: none;" id="hidden-content-{{ project.id }}">
                                       <h2>Введите Ваш Email:</h2>
                                       <input type="text" id="email"/><br/>
                                       <button onclick="processPayment({{ project.id }})">Оплатить</button>
                                   </div>
                                   <div style="white-space: pre-line;" id="" class="btn btn-lg btn-block btn-primary">
                                       <a data-fancybox data-src="#hidden-content-{{ project.id }}" href="javascript:;">Получить полный текст и
                                       поддержать проект</a>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script type="text/javascript">
        function processPayment(projectId) {
            $.post('/projects/payment', {projectId: projectId}, function(response) {
                window.location.href = response.link;
            });
        }
    </script>
{% endblock %}