{% extends "index.html.twig" %}

{% block body %}
    <section id="content-right-app" class="bg-color3">
        <div class="container">
            <div class="row">
{#                <div class="col-lg-3 col-md-4">#}
{#                    <img class="screen" src="{{ project.getMainImage() }}" alt="screen">#}
{#                </div>#}
{#                <div class="col-md-7 col-lg-offset-2 col-md-offset-1 editContent" style="">#}
                    <h2 class="title text-center">{{ project.title }}</h2>
                    {{ project.description|raw }}
{#                </div>#}
            </div>
            </br>
{#            <div class="row">#}
{#                <div class="col-sm-6">#}
{#                    <div style="white-space: pre-line;" id="" class="btn btn-lg btn-block btn-primary">#}
{#                        Содержание и введение (текст для свободного скачивания)#}
{#                    </div>#}

{#                </div>#}
{#                <div class="col-sm-6">#}
{#                    <div style="white-space: pre-line;" id="" class="btn btn-lg btn-block btn-primary">#}
{#                        <a href="#openModal">Получить полный текст и#}
{#                        поддержать проект</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </section>

{#    <div id="openModal" class="modalDialog">#}
{#        <div>#}
{#            <a href="#close" title="Закрыть" class="close">X</a>#}
{#            <h2>{{ 'Оплата и поддержка' |trans }}</h2>#}
{#            <p>Данилюк А.Я., Факторович А.А. Общие компетенции. М., 2020 – 240 с.</p>#}
{#            <p>   Стоимость покупки -  {{ project.price }}</p>#}
{#            <p>   Стоимость покупки при оплате за пределами РФ – 5 дол. США</p>#}
{#        </div>#}
{#    </div>#}
{% endblock %}